<launch>
  <arg name="name" default="name"/>
  <arg name="topic" default="/camera"/>
  <arg name="save" default="0"/>
  <arg name="show" default="0"/>

  <node pkg="qrscan" type="camera.py" name="camera" args="--name=qr_scan --topic=frames --show=$(arg show)" output="screen"/>
  <?ignore rosrun qrscan camera.py --name "camera_rx" --topic "/camera/rx/image" --save "src/utils/src/camere/frame_rx" --show True ?>
</launch>